body {
  margin: 0;
  padding: 0;
}
.slick-slide {
  padding: 0 5px; /* 좌우 여백 */
  box-sizing: border-box;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";